<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW03</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/fde8357e73.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="top">
    <div class="header center">
        <img class="icon" src="img/logo_header.svg" alt="logo header">
        <div class="menu__bar">
            <a href="#" class="color__link">Home</a>
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a href="#">Features</a>
            <a href="#">Team</a>
            <a href="#">Blog</a>
            <a href="#">Contacts</a>
            <button class="button menu__button">Get started</button>
        </div>
    </div>
    <div class="top__content center">
        <div class="top__info">
            <h1 class="title">SEO & Digital
                Marketing For Your
                Website.</h1>
            <h3 class="subtitle">Provide all kind of seo services and help to improve
                seo ranking. Globally incubate standards.</h3>
            <div class="top__buttons">
                <button class="button">Start now</button>
                <button class="button icon__button">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 13.2679C20.8333 14.0378 20.8333 15.9623 19.5 16.7321L14.25 19.7631C12.9167 20.5329 11.25 19.5707 11.25 18.0311L11.25 11.9689C11.25 10.4293 12.9167 9.46706 14.25 10.2369L19.5 13.2679Z"
                              fill="#F25822"/>
                        <circle cx="15" cy="15" r="13.5" stroke="#DDDDDD" stroke-width="3"/>
                    </svg>
                    Watch video
                </button>
            </div>
        </div>
        <img src="img/top_image.svg" alt="top image">
    </div>
    <div class="top__logos center">
        <img src="img/logo_liva.svg" alt="logo liva">
        <img src="img/logo_kanba.svg" alt="logo kanba">
        <img src="img/logo_amara.svg" alt="logo amara">
        <img src="img/logo_aven.svg" alt="logo aven">
        <img src="img/logo_hexlab.svg" alt="logo hexlab">
        <img src="img/logo_kanba2.svg" alt="logo kanba2">
    </div>
</div>

</body>
</html>