<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW03</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/fde8357e73.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="top">
    <div class="header center">
        <img class="icon" src="img/logo_header.svg" alt="logo header">
        <div class="menu__bar">
            <a href="#" class="color__link">Home</a>
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a href="#">Features</a>
            <a href="#">Team</a>
            <a href="#">Blog</a>
            <a href="#">Contacts</a>
            <button class="button menu__button">Get started</button>
        </div>
    </div>
    <div class="top__content center">
        <div class="top__info">
            <h1 class="title">SEO & Digital
                Marketing For Your
                Website.</h1>
            <h3 class="subtitle color_gray">Provide all kind of seo services and help to improve
                seo ranking. Globally incubate standards.</h3>
            <div class="top__buttons">
                <button class="button">Start now</button>
                <button class="button icon__button">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.5 13.2679C20.8333 14.0378 20.8333 15.9623 19.5 16.7321L14.25 19.7631C12.9167 20.5329 11.25 19.5707 11.25 18.0311L11.25 11.9689C11.25 10.4293 12.9167 9.46706 14.25 10.2369L19.5 13.2679Z"
                              fill="#F25822"/>
                        <circle cx="15" cy="15" r="13.5" stroke="#DDDDDD" stroke-width="3"/>
                    </svg>
                    Watch video
                </button>
            </div>
        </div>
        <img src="img/top_image.svg" alt="top image">
    </div>
    <div class="top__logos center">
        <img src="img/logo_liva.svg" alt="logo liva">
        <img src="img/logo_kanba.svg" alt="logo kanba">
        <img src="img/logo_amara.svg" alt="logo amara">
        <img src="img/logo_aven.svg" alt="logo aven">
        <img src="img/logo_hexlab.svg" alt="logo hexlab">
        <img src="img/logo_kanba2.svg" alt="logo kanba2">
    </div>
</div>
<div class="perfect center">
    <div class="top__info">
        <h1 class="content title">Perfect Solution For
            Your Business</h1>
        <h3 class="subtitle color_gray perfect">Distinctively exploit optimal alignments for intuitive bandwidth. Quickly
            coordinate e-business applications through revolutionary catalysts for
            chang the Seamlessly underwhelm optimal testing procedures.</h3>
        <div class="top__buttons">
            <button class="button">Learn More</button>
        </div>
    </div>
    <img src="img/grafic.svg" alt="top image">
</div>


<div class="for__business center">
    <div class="for__business_card"><img class="for__business_img" src="img/for_b_grow_your_business.svg" alt="">
        <h2 class="for__business_title">Grow Your Business</h2>
        <h3 class="for__business_subtitle color_gray">Leverage agile frameworks to provide a robust synopsis for high level
            overviews.</h3>
        <button class="read__more_button">Read More ...</button>
    </div>
    <div class="for__business_card"><img class="for__business_img" src="img/for_b_get_quality.svg" alt="">
        <h2 class="for__business_title">Get Quality Ieads</h2>
        <h3 class="for__business_subtitle color_gray">Leverage agile frameworks to provide a robust synopsis for high level
            overviews.</h3>
        <button class="read__more_button">Read More ...</button>
    </div>
    <div class="for__business_card"><img class="for__business_img" src="img/for_b_drive_more_sales.svg" alt="">
        <h2 class="for__business_title">Drive More Sales</h2>
        <h3 class="for__business_subtitle color_gray">Leverage agile frameworks to provide a robust synopsis for high level
            overviews.</h3>
        <button class="read__more_button">Read More ...</button>
    </div>
</div>

<div class="choose__us center">
    <h1 class="choose__us_title">Why You Should Choose Us.</h1>
    <h2 class="choose__us_subtitle color_gray">Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate
        e-business
        applications through revolutionary catalysts.</h2>
    <div class="choose__us_cards">
        <div class="card"><img src="img/choose_us_card_keyword_research.svg" alt="" class="choose_us_card_img">
            <h1 class="choose__us__card_title">Keyword Research</h1>
            <h2 class="choose__us__card_subtitle color_gray">Business applications through revolutionary catalysts for
                chang the
                Seamlessly underwhelm dures.</h2>
            <button class="button learn__more">Learn More ></button>
        </div>
        <div class="card"><img src="img/choose_us_card_seo_opttmazadion.svg" alt="" class="choose_us_card_img">
            <h1 class="choose__us__card_title">Seo Optimazadion</h1>
            <h2 class="choose__us__card_subtitle color_gray ">Business applications through revolutionary catalysts for
                chang the
                Seamlessly underwhelm dures.</h2>
            <button class="button learn__more">Learn More ></button>
        </div>
        <div class="card"><img src="img/choose_us_card__social_marketing.svg" alt="" class="choose_us_card_img">
            <h1 class="choose__us__card_title">Social Marketing</h1>
            <h2 class="choose__us__card_subtitle color_gray">Business applications through revolutionary catalysts for
                chang the
                Seamlessly underwhelm dures.</h2>
            <button class="button learn__more">Learn More ></button>
        </div>
    </div>
</div>


</body>
</html>